.header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.liquid-glass {
  position: sticky;
  top: 0;
  z-index: 1000;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(14px) saturate(180%);
  -webkit-backdrop-filter: blur(5px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 18px;

  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.18);

  transition: all 0.3s ease;
}

.main-text {
  color: #F5AFAF;
}

.items {
  color: #F5AFAF;

}

.lesson-items {
  display: flex;
  align-items: center;
  gap: 20px;
}