.main {
  width: 100%;
  height: 500px;
  padding: 10px;
  font-family: sans-serif;
  overflow: auto;
  color: white;
  background-color: #222831;
}

.lesson-number {
  position: absolute;
  margin: 0;
  font-size: 70px;
  font-weight: 100;
}

.post-handler {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #222831;
}

.post-card {
  width: 400px;
  background-color: #EEEEEE;
  padding: 10px;
}

.post-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}