.car-card{
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 2px black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}

.car-card:hover{
  box-shadow: 0 0 6px black;
}

.card-image{
  width: 100%;
  object-fit: cover;
}