.car-card {
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 2px black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}

.car-card:hover {
  box-shadow: 0 0 10px black;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 5px;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}