<div class="car-card">
  <img 
    class="card-image" 
    [src]="item()?.pictureUrl" 
    alt="porche"
    >
  <div class="p-4">
    <div class="w-full flex justify-content-between">
      <h4>Model: </h4>
      <h4>{{ item()?.model }}</h4>
    </div>
    <div class="w-full flex justify-content-between">
      <h4>Name: </h4>
      <p>{{ item()?.name }}</p>
    </div>
    <div class="w-full flex justify-content-between">
      <p>Description: </p>
      <p>{{ item()?.description }}</p>
    </div>
  </div>
</div>