.container {
  width: 100%;
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.back-btn{
  width: 150px;
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid pink;
  border-radius: 20px;
  cursor: pointer;
  color: pink;
  background-color: rgba($color: pink, $alpha: 0.1);
}

.car-image-container {
  width: 50%;
  height: 80vh;
  padding: 10px;
  overflow: hidden;
  border: 3px solid pink;
  border-radius: 20px;
  background-color: rgba($color: pink, $alpha: 0.1);
}

.car-image {
  width: 100%;
  height: 100%;
  object-fit:contain;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.handler{
  width: 50%;
  height: 80vh;
  padding: 10px;
  display: flex;
  border: 3px solid pink;
  border-radius: 20px;
  background-color: rgba($color: pink, $alpha: 0.1);
  overflow: auto;
  flex-direction: column;
  justify-content: space-between;
}