.container {
  width: 100%;
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.car-image-container {
  width: 50%;
  height: 80vh;
  padding: 10px;
  overflow: hidden;
  border: 3px solid pink;
  border-radius: 20px;
  background-color: rgba($color: pink, $alpha: 0.1);
}

.car-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  width: 50%;
  height: 80vh;
  border: 3px solid pink;
  border-radius: 20px;
  background-color: rgba($color: pink, $alpha: 0.1);
}