.main {
  width: 100%;
  height: 500px;
  padding: 10px;
  font-family: sans-serif;
  overflow: auto;
  color: black;
  background-color: #EEEEEE;
}

.lesson-number {
  position: absolute;
  margin: 0;
  font-size: 70px;
  font-weight: 100;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  z-index: 1000;
}

.post-card {
  width: 400px;
  background-color: #EEEEEE;
  padding: 10px;
}

.post-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.task-name-handler {
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 1000;
}

.task-name {
  padding: 5px 10px;
  backdrop-filter: blur(20px);
  border: 2px solid rgba($color: white, $alpha: 0.3);
  border-radius: 10px;
}

.galary {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.image-handler {
  border: 5px solid brown;
}