.main {
  width: 100%;
  height: 400px;
  padding: 10px;
  background-color: #249E94;
}

.lesson-number {
  margin: 0;
  font-size: 70px;
  font-weight: 100;
  color: white;
}

.lesson-name {
  text-align: center;
  color: white;
}

.container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: white;
}