.main {
  width: 100%;
  height: 200px;
  padding: 10px;
  background-color: #A5C89E;
}

.header {
  text-align: center;
  color: white;
}

.theme-collection {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.theme-item {
  width: 50px;
  height: 25px;
  cursor: pointer;
}

.selected-item {
  border: 2px solid white;
}

p {
  color: white;
}