.main {
  width: 100%;
  height: 400px;
  padding: 10px;
  background-color: #EEF1FF;
}

.lesson-number {
  margin: 0;
  font-size: 70px;
  font-weight: 100;
  color: gray;
}

.lesson-theme {
  text-align: center;
  color: gray;
}

.container {
  width: 100%;
}

.number {
  text-align: center;
  color: gray;
}

.value {
  color: black;
  font-weight: 700;
}

.btn-handler {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}