<div class="main">
  <h1 class="lesson-number">2</h1>
  <div class="task-name-handler">
    <h2
      class="task-name"
      pTooltip="public apiga zapros qilip todolar olinmoqda"
    >
      Todo App
    </h2>
  </div>
  <div class="todos-handler">
    @for (item of todos()?.todos; track $index) {
      <div class="todo-card">
        <h3>Id: {{ item.id }}</h3>
        <p>{{ item.todo }}</p>
        <p>
          isCompleted: <span class="font-bold">{{ item.completed }}</span>
        </p>
      </div>
    }
  </div>
</div>
