.main {
  width: 100%;
  height: 500px;
  padding: 10px;
  font-family: sans-serif;
  overflow: auto;
  color: white;
  background-color: #00ADB5;
}

.lesson-number {
  position: absolute;
  margin: 0;
  font-size: 70px;
  font-weight: 100;
}

.todos-handler {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.todo-card {
  width: 200px;
  background-color: #393E46;
  padding: 10px;
  border-radius: 10px;
}